streamlit==1.56.0
torch
transformers==4.53.2
accelerate
datasets
sentencepiece
nltk
sacremoses
pandas
regex
mock
mosestokenizer
pydub
librosa
soundfile
elevenlabs
git+https://github.com/VarunGumma/IndicTransToolkit.git
hf auth login